
<% @c_list = ["Photo", "Metal", "East","West","Industrial","Illustration"] %>
      <!-- navigation bar: site logo, search, login -->
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<%= root_path %>">SNU_ARTS</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">

            <!--categories-->
            <ul class="nav navbar-nav navbar-centered">

              <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">Categories <b class="caret"></b></a>
                <ul class="dropdown-menu">
                <% @c_list.each do |cat| %>    
                  <li><a href="<%= category_path %>/?cat=<%= cat %>"><%= cat %></a></li>
                <% end %>
                </ul>
              </li>
            </ul>

            <% if session[:user_id]==nil || Artist.find(session[:user_id])==nil %>
            <!--Before Login-->
            <ul id="signInDropdown" class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-default navbar-btn dropdown-toggle">Sign in <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li>
                    <div class="navbar-form">
                      <%=form_for(:session, url: login_path) do |ff| %>
                        <%= ff.label :email %>
                        <%= ff.email_field :email, class: 'form-control' %>
                        <%= ff.label :password %>
                        <%= ff.password_field :password, class: 'form-control' %>
                        <div style="margin: 10px 0">
                          <%= ff.submit "Log in", class: "btn btn-info" %>
                        </div>
                      <% end %>
                        <span class="pull-right"><a href="<%= new_artist_path %>">Join us!</a></span>   
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
            <%else%>
            <% @login_artist = Artist.find(session[:user_id]) %>
            <!--After Login, Add work -->
            <ul class="nav navbar-nav navbar-centered2">
             <a href="<%= new_artist_artwork_path(@login_artist.id) %>" class="btn btn-success navbar-btn">Add work</a>
            </ul>
            
            <!--After Login, my profile-->
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-user"></span> 
                  <strong><%= @login_artist.name %></strong>
                  <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <div class="navbar-login">
                      <div class="row">
                        <div class="col-lg-4">
                          <p class="text-center">
                            <img src="/artist/<%= @login_artist.profile_img %>" alt="Artwork" class="artwork-image" style="width:100%">
                          </p>
                        </div>
                        <div class="col-lg-8">
                          <p class="text-left"><strong><%= @login_artist.name %></strong></p>
                          <p class="text-left small"><%= @login_artist.login_id %></p>
                          <p class="text-left">
                            <a href="<%= artist_path(@login_artist.id) %>" class="btn btn-primary btn-block btn-sm">My Profile</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <div class="navbar-login navbar-login-session">
                      <div class="row">
                        <div class="col-lg-12">
                          <p>
                            <%= link_to "Log out", logout_path, method: :delete, class: "btn btn-danger btn-block" %>
                          </p>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
            <%end%>



          </div><!--/.navbar-collapse -->
        </div>
      </nav>

<%flash.each do |key, value| %>
    <div class="alert alert-<%= key %>" style = "margin-bottom:0"><%= value %></div>
<% end %>
