<%= stylesheet_link_tag "style.css" %>
      
<%= render 'nav' %>
<div class="page-header"><h1>Sign up for Artist</h1></div>

<%= form_for :artist, url: artist_index_path do |f| %>

  <%= render 'errors', object: @artist %>

  <div class="form-group">
    <%= f.label :"login ID" %>
    <%= f.email_field :login_id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :mail %>
    <%= f.text_field :mail, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :"profile image" %>
    <%= f.file_field :image, class: 'form-control'%>
  </div>

  <%= f.submit 'Upload', class: 'btn btn-primary' %>
<% end %>
