<!--ADD NEW ARTWORK PAGE-->

<%= stylesheet_link_tag "style.css" %>
<%= stylesheet_link_tag "style_upload.css" %>

  <%= render 'artist/nav' %>

  <div class="container body-container">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Upload your own Art!</strong> <small>(1 image per artwork)</small></div>
        <div class="panel-body">
<%= form_for :artwork, url: artist_artwork_index_path(@artist.id) do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :category %>
    <%= f.select :category, ['Metal', 'Photo', 'East', 'West', 'Industrial', 'Illustration']%>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: 'form-control'%>
  </div>

  <%= f.submit 'Upload', class: 'btn btn-primary' %>
<% end %>
         
        </div>
    </div>
  </div> <!-- /container -->




  </div>

  <!--page bar at the bottom-->
  <hr>

  <footer>
    <p>&copy; 2017 Intro. to Web Programming Team I: 박지수, 변승무, 김진모, 김종석</p>
  </footer>
</div> <!-- /container -->